<!DOCTYPE html>

<html>

<head>
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize-css/css/materialize.min.css" media="screen,projection" />

  <title>Keep Clone</title>
  <script src="/systemjs/system.src.js"></script>

  <script>
    System.config({
        meta: {
          '/opbeat/opbeat.js': {
            format: 'cjs'
          }
        },     
        map:{
          underscore:'/underscore/underscore.js',
          opbeat:'/opbeat/opbeat.js'
          // opbeat:'https://d3tvtfb6518e3e.cloudfront.net/1/opbeat.js'
        },
  			packages: {
  				'': {
  				defaultExtension: 'js'
  				}
        		}
      	});
  </script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body dir="ltr" style="background-color: #e8e8e8">

  <keepclone></keepclone>

  <script src='/jquery/jquery.min.js'></script>
  <script src='/materialize-css/js/materialize.min.js'></script>
  <script src='/angular2/angular2.js'></script>
  <script src="https://d3tvtfb6518e3e.cloudfront.net/1/opbeat.js" data-org-id="7f9fa667d0a349dd8377bc740bcfc33e" data-app-id="c9cca0eb42"></script>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>


  <script async>
    System.import('keepclone/keepclone')
  </script>
</body>

</html>