<div class="col">
	<div class="row" *ng-if="!isAuthenticated()">
		<a class="waves-effect waves-light btn" (click)="authWithGoogle($event)">Login with Google</a>
	</div>
	<div class="col" *ng-if="isAuthenticated()">
		<div class="row">
			<a class="waves-effect waves-light btn" (click)="unAuth($event)">Logout</a>
		</div>
		<div class="row">
			<div class="col s6" style="margin-left:25%">
				<add-note class="col s12" />
			</div>
		</div>
		<div class="row">
			<notes class="col s12" />
		</div>

	</div>
</div>